/****************
*** DEFAULTS
*****************/
* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* HEADINGS DEFAULT */
a {
  text-decoration: none;
}

ul, ol {
  margin-left: 40px;
}

hr {
  margin: 10px 0px;
  opacity: .25;
}

/* FORM DEFAULTS */
form h2 {
  margin: 25px auto;
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
}

form input {
  width: 100%;
  display: block;
  padding: 13px 13px;
  font-size: 1em;
  margin: 5px auto 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #3E606F;
}

form input:focus {
  outline: none;
}

/* BUTTON DEFAULT */
.btn {
  color: white;
  background: #4E6166;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: block;
  letter-spacing: .1em;
  margin: 10px 0px;
  padding: 13px 20px;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0px auto;
}

/* NAVBAR */
.navbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: #3E606F;
  border-radius: 0px 0px 6px 6px;
}

.navbar ul {
  list-style-type: none;
  float: right;
}

.navbar ul li {
  float: left;
  font-family: 'Noto Serif', serif;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #B9E6F2;
  background-color: #334F5C;
}

/* LOGO */
.navbar .logo_div {
  float: left;
  padding-top: 5px;
  padding-left: 40px;
}

.navbar .logo_div h1 {
  color: #B9E6F2;
  font-size: 3em;
  letter-spacing: 5px;
  font-weight: 100;
  font-family: 'Tangerine', cursive;
}

/* FOOTER */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #73707D;
  text-align: center;
  width: 80%;
  margin: 20px auto 0px;
  padding: 20px 0px;
}

.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lloydd {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.lloyd {
  display: block;
}

.p-container {
  width: 100%;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  border: 5px solid #4EA699;
  margin: 10px;
  width: 90%;
  height: 400px;
  overflow-x: scroll;
  border-radius: 5px;
}

.card h3, .card h5 {
  margin: 10px 0;
}

.details {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project-text {
  text-align: center;
  width: 90%;
  margin: auto;
}

.show {
  margin: 10px 0px;
}

.unsplash-img, .solar-img, .pfp-img, .nmhp-img,
.thc-img, .wizzard-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.attributes {
  width: 90%;
  height: auto;
}

.attributes-headings {
  margin: 10px;
  border-radius: 5px;
}

.attributes-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.fb {
  background-color: #3b5998;
}

.tw {
  background-color: #00aced;
}

.li {
  background-color: #0077b5;
}

.fbutton, .twbutton, .libutton {
  color: #ffffff;
}

body {
  background-color: #EAF6FF;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, p {
  text-align: center;
}

img {
  width: 300px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 75%;
}

.section-text {
  width: 100%;
  margin: auto;
}

.hide {
  display: none;
}

.details {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}

.details .imagtab {
  width: 100%;
  height: auto;
  transform: translateY(0px);
}

.details:hover .imagtab {
  transform: translateY(calc(-100% + 300px));
  transform: scale(1.15);
}

.experience {
  width: 100%;
}

.exp-title {
  margin: 10px;
}

.exp-text {
  margin: 10px;
}

.stack-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stack-headings {
  width: 25%;
  margin: 10px;
}

.hobbies-text p {
  margin: 10px;
}

.hobbie {
  margin: 20px;
}

.hobbie h3 {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .attributes-headings {
    width: 40%;
  }
  .card {
    height: 500px;
  }
}

@media screen and (min-width: 990px) {
  .attributes-headings {
    width: 30%;
  }
  .card {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    height: 600px;
  }
}

.title-container:hover {
  color: #232528;
  border: #4EA699 3px solid;
}

.title-container:hover h1 {
  color: #232528;
}

.about-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.about-container:hover h2 {
  color: #EAF6FF;
}

.attributes-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.attributes-container:hover h2 {
  color: #EAF6FF;
}

.skills-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.skills-container:hover h2 {
  color: #EAF6FF;
}

.experience-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.experience-container:hover h2 {
  color: #EAF6FF;
}

.hobbies-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.hobbies-container:hover h2 {
  color: #EAF6FF;
}

.hobbies-container:hover h3 {
  color: #EAF6FF;
}

.interests-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.interests-container:hover h2 {
  color: #EAF6FF;
}

.goals-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.goals-container:hover h2 {
  color: #EAF6FF;
}

.projects-container:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

.projects-container:hover h2 {
  color: #EAF6FF;
}

.projects-container:hover h2 h3 {
  color: #EAF6FF;
}

.projects-container:hover h2 h3 p {
  color: #EAF6FF;
}

footer:hover {
  background-color: #4EA699;
  color: #EAF6FF;
  border: #4EA699 3px solid;
}

footer:hover h2 {
  color: #EAF6FF;
}

footer:hover h3 {
  color: #EAF6FF;
}
