.title {
  background-color: aquamarine;
}

h1, h2, h3, p {
  text-align: center;
}

ul li {
  list-style-type: none;
}

img {
  width: 400px;
  height: 200px;
}

.lloydd {
  display: flex;
  justify-content: center;
}

.lloyd {
  display: block;
}

.family {
  display: none;
}

.lloyd:hover {
  content: url("../Imgs/fam.jpg");
}

.details {
  position: relative;
  width: 75%;
  height: 300px;
  overflow: hidden;
  border: 1px solid red;
  background-color: transparent;
}

.details .imagtab {
  width: 100%;
  height: auto;
  transform: translateY(0px);
}

.details:hover .imagtab {
  transform: translateY(calc(-100% + 300px));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  border: 3px solid grey;
  margin: 10px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.details {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.unsplash-img, .solar-img, .pfp-img, .nmhp-img,
.thc-img, .wizzard-img {
  width: 100%;
  height: 50%;
}
