
.about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.lloydd {
    display: flex;
    justify-content: center; 
    margin: 10px;   
}

.lloyd {
    display: block;
}


