// Colors for the portfolio 

$color-white: #ffffff;
$color-alice: #EAF6FF;

$color-gray: #28464B;
$color-pine: #4EA699;
$color-celtic-blue: #226CE0;
$color-patrick-blue: #2A2A72;

$color-blue: #454ADE;
$color-black: #232528;
$color-yellow: #FFCB47;
$color-green: #59C9A5;
$color-red: #FF595E;

$color-fb: #3b5998;
$color-tw: #00aced;
$color-li: #0077b5;