// Colors for the portfolio 

$color-white: #f1f3f3;
$color-black: #232528;

$color-gray: #28464B;

$color-blue: #86BDF0;
$color-purple: #A46DF9;
$color-yellow: #E2FC81;
$color-green: #81FCAF;
$color-red: #FF4545;
$color-dark-blue: #4543DA;

$color-fb: #3b5998;
$color-tw: #00aced;
$color-li: #0077b5;