// Attribute section 

.attributes {
    width: 90%;
    height: auto;
}
.attributes-headings {
    margin: 10px;
    border-radius: 5px;
}

.attributes-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}