// Colors for the portfolio 

$color-white: #ffffff;

$color-gray: #28464B;
$color-ming: #326771;
$color-almond: #F1DAC4;
$color-light-gray: #A69CAC;

$color-blue: #454ADE;
$color-black: #363636;
$color-yellow: #FFCB47;
$color-green: #59C9A5;
$color-red: #FF595E;

$color-fb: #3b5998;
$color-tw: #00aced;
$color-li: #0077b5;