
// Base Styles 

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, p {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 90%;
  // border: 3px solid $color-red;
}


// Image Scroll on Hover

.details {
    position: relative;
    width: 75%;
    height: 300px;
    overflow: hidden;
    border: 1px solid red;
    background-color: transparent;
  }
  
  .details .imagtab {
    width: 100%;
    height: auto;
    transform: translateY(0px); 
  }
  
  .details:hover .imagtab {
    transform: translateY(calc(-100% + 300px)); 
    // transform: scale(1.5);
  }

