
.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.exp-title {
    margin: 20px;
}

.exp-text {
    margin: 10px;
}

.fol-exp, .thc-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thc-heading, .foll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px;
}

.thc {
    margin: 5px;
    width: 200px;
    height: 200px;  
}

.fo {
    margin: 5px;
    width: 150px;
    height: 150px;
}