// footer section 

.footer-section {
    width: 100%;
    z-index: 100;
}

.footer-container {
    width: 85%;
    display: flex;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-contact {
    width: 100%;
    margin: 10px 0;
  }

.contact-b {
    font-size: 1.5em;
    color: $color-gray;
    border: $color-gray 3px solid;
    background-color: $color-white;
    margin: 20px 0;
    padding: 5px;
    border-radius: 25px;
    font-weight: 800;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 50px;
    margin: auto;
}

.fb {
    background-color: $color-fb;
    width: 32%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tw {
    background-color: $color-tw;
    width: 32%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.li {
    background-color: $color-li;
    width: 32%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fbutton, .twbutton, .libutton {
    color: $color-white;
} 