.goals-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

