// Header CSS

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    height: 100%;
}

