// Header CSS

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    height: 100%;
}

.header-text {
    display: none;
}

