// Media Queries 

@media screen and (min-width: 480px) {
    h1 {
        font-size: 2em;
      }
      
    h2 {
        font-size: 1.55em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1em;
    }
    
    .contact-b {
        font-size: 1.125em;
    }
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 2.5em;
      }
      
    h2 {
        font-size: 2em;
        margin: auto;
    }
    
    h3 {
        font-size: 1.75em;
    }
     
    .contact-b {
        font-size: 1.25em;
    }    

    .section, .ab-text {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .headings {
        width: 40%;
    }

    .about-me-heading {
        width: 45%;
        margin: 7px;
    }

    .active-s {
        width: 90%;
        justify-content: flex-start;
        height: 250px;
    }

    .wide {
        width: 70%;
    }

    .thc-heading, .foll {
        width: 92%;
    }

    .attributes {
        align-items: stretch;
    }

    .card {
        height: 500px;
    }

    .ab-text {
        flex-direction: row;
    }

    .flip-card-1s {
        height: 500px;
    }

    .head {
        width: 90%;
    }

    .intro-text {
        width: 90%;
        margin: auto;
    }

}

@media screen and (min-width: 990px) {

    .small-screen {
        display: none;
    }

    .large-screen {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .title-container {
        align-items: center;
    }

    .header-text {
        display: flex;
    }

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 0.75em;
    }

    header {
        p {
            font-size: 1.25em;
        }
    }

    .contact-b {
        font-size: 2em;
    }
    
    .a-container {
        flex-direction: column;
        justify-content: center;
    }

    .inner-container {
        margin: 0;
        height: 100%;
    }

    .thc-heading, .foll {
        width: 40%;
    }

    .experience {
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        height: 55%;
    }

    .attributes {
        align-items: center;
        height: 71%;
        margin-top: -17px;
        width: 90%;
    }

    .attributes-headings {
        width: 23%;
    }

    .content {
        justify-content: space-around;
    }

    .abouttt {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .head {
        width: 55%;
    }

    .intro-text {
        border: $color-white 3px solid;
        background-color: $color-gray;
        width: 90%;
        margin: 0;
    }

    .intro-text:-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }

      .section-text {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .goal-title {
        width: 100%;
        font-size: 2em;
        color: $color-gray;
        height: 15%;
        margin-right: 30px;
      }

      .int-title {
          margin-top: 100px;
          margin-right: 55px;
          font-size: 2em;
          color: $color-white;
          top: 30;
      }

       .attr-title, .exp-title,  .proj-title {
        width: 100%;
        height: 15%;
        font-size: 2em;
        color: $color-white;
        position: absolute;
        top: 20px;
      }

      .attr-title, .hob-title {
        width: 100%;
        height: 15%;
        font-size: 2em;
        color: $color-gray;
        position: absolute;
        top: 20px;
      }

      .stack-title {
        width: 100%;
        font-size: 2em;
        color: $color-gray;
        height: 15%;
        margin-top: -130px;
      }

      .about-title {
        width: 100%;
        height: 75px;
        font-size: 2em;
        color: $color-white;
      }

      .hobbies {
          width: 86%;
          height: 60%;
      }

      .hobbie {
          width: 29%;
          height: 45%;
      }

      .projects {
          border: none;
      }

      .proj-intro {
          font-size: 1.25em;
          width: 100%;
      }

      
      .proj-details {
        width: 73%;
        height: 70%;
      }

      .card {
        height: 304px;
        overflow-y: scroll;
    }

    .video-height {
        justify-content: flex-start;
    }
    
    .show {
        background-color: $color-gray;
    }

      .you-t {
          width: 100%;
      }

      .stack {
        width: 570px;
        height: 60%;
        margin-right: 30px;
        margin-top: -20px;
      }

      .stack-headings {
          height: 30%;
          width: 27%;
      }

      .interests-section {
          width: 625px;
          height: 625px;
      }

      .interests {
        width: 86%;
        height: 46%;  
        margin-right: 72px;
      }

      .interest {
        height: 45%;
    }

    .goals-section {
        width: 650px;
        height: 600px;
    }

    .goals {
        width: 70%;
        height: 45%;  
        margin-right: 45px;
      }

      .goal {
        height: 40%;
        height: 40%;
    }

    .footer-section {
        margin-top: -30px;
    }

    .contact-section {
        width: 85%;
    }

    .contact-p {
        font-size: 1.25em;
    }

    .social {
        width: 90%;
    }

    .fb, .tw, .li {
        width: 30%;
    }


}

@media screen and (min-width: 1200px) {

   
    .contact-b {
        font-size: 2.25em;
    }

    .card {
        height: 305px;
    }

    .about-me-heading {
        width: 30%;
        margin: 7px;
    }

    .experience {
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .head {
        width: 50%;
    }
}