// Project section 

.p-container {
    width: 100%;
    overflow: hidden;
}

.projects {
	display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    border: 5px solid $color-white;
    border-radius: 5px;
    margin: 10px;
    width: 90%;
    height: 400px;
    overflow-x: scroll;
    border-radius: 5px;
}

.details {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.project-text {
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

.show {
    margin: 10px 0px;
}

.video-height, .you-t {
  height: 100%;
  margin: auto;
}


// video css

