// Project section 

.p-container {
    width: 100%;
    overflow: hidden;
}

.projects {
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border: $color-white 3px solid;
    border-radius: 25px;
    width: 90%;
}

.card {
    border-radius: 25px;
    margin: 10px;
    width: 90%;
    height: 400px;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: 25px;
    border-radius: 25px;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
}

.details {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.project-text {
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

.show {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 25px;
    font-weight: 800;
}

.video-height, .you-t {
  height: 100%;
  margin: auto;
  width: 100%;
}

.pc-1 {
    width: 100%;
}

.slick-dots li button:before {
    font-size: 20px;
    border-radius: 50%;
    color: $color-white;
}



// video css

