
header:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h1 {
        color: $color-ming;
    }
}

.about-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }
}

.attributes-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }
}

.skills-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }
}

.experience-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }
}

.hobbies-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }     h3 {
        color: $color-ming;
    }
}

.interests-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }
}

.goals-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }
}

.projects-container:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
        h3 {
            color: $color-ming;
            p {
                color: $color-ming;
            }
        }
    }
}

footer:hover {
    background-color: $color-almond;
    color: $color-ming;
    border: $color-ming 3px solid;
    h2 {
        color: $color-ming;
    }     h3 {
        color: $color-ming;
    }
}


// header, .about-container, .attributes-container, .skills-container,
// .experience-container, .hobbies-container, .interests-container:hover,
// .goals-container, .projects-container, footer {

// }